{
    "command": "sleep infinity",
    "config_files": [],
    "permissions": [
        {
            "path": "/var/log/kolla-ceph/ansible.log",
            "owner": "ansible:ansible"
        }
    ]
}
